/*ion-content {
    --background: gray !important;
}*/
.container {
    position: absolute;
    left: 0;
    right: 0;
    width: 75%;
    margin: 0 auto;
    z-index: 2;

    &.top {
        top: 5%;
    }
    ion-segment-button{
        --indicator-color-checked: #00BFFF;
    }
}
ion-slides{

    height: 100%;

    .slide-inner{
        width: 100%;
        color: #00BFFF;
        border-radius: 10px;

        ion-item{
            --border-radius: 10px;
            border-bottom: 1px solid #00BFFF;

        }
    }
}