<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <!-- <ion-button color="light" ion-button (click) = "aluno()" fill="outline">Cadastrar aluno</ion-button>
  <ion-button color="light" ion-button (click) = "grupo()" fill="outline">Cadastrar grupo</ion-button>-->

  <div class="container">
    <div class="container-top"  >

      <ion-item class="item" lines="none">
        <ion-input type="user" [(ngModel)]="name" placeholder="Nome"></ion-input>
      </ion-item>

      <ion-item class="item" lines="none">
        <ion-input type="user" [(ngModel)]="usuario" placeholder="Usuario"></ion-input>
      </ion-item>

      <ion-item class="item" lines="none">
        <ion-input type="password" [(ngModel)]="senha" placeholder="Senha"></ion-input>
      </ion-item>

      <ion-button color="light" ion-button (click) = "cadastrarAluno()" fill="outline">Cadastrar aluno</ion-button>

    </div>


      <div class="container-bottom">

          <ion-list>
              <ion-item lines="none">
                <ion-label>Numero de alunos</ion-label>
                <ion-select placeholder="Selecione">
                  <ion-select-option value="1"(grupoClicked)="aoSelecionar($event)">1</ion-select-option>
                  <ion-select-option value="2"(grupoClicked)="aoSelecionar($event)">2</ion-select-option>
                  <ion-select-option value="3"(grupoClicked)="aoSelecionar($event)">3</ion-select-option>
                  <ion-select-option value="4"(grupoClicked)="aoSelecionar($event)">4</ion-select-option>
                  <ion-select-option value="5"(grupoClicked)="aoSelecionar($event)">5</ion-select-option>
                </ion-select>
              </ion-item>
          </ion-list>

          <ion-list>
            <ion-item lines="none">
              <ion-label>Aluno</ion-label>
              <ion-select placeholder="Selecione">
                <ion-select-option value="aluno">Romulo</ion-select-option>
                <ion-select-option value="aluno">Guilherme</ion-select-option>
                <ion-select-option value="aluno">Marcela</ion-select-option>
                <ion-select-option value="aluno">Luiz</ion-select-option>
                <ion-select-option value="aluno">Wesley</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>

          <ion-item class="item" lines="none">
              <ion-input type="text" [(ngModel)]="nomeGrup" placeholder="Nome do Grupo"></ion-input>
          </ion-item>
        
          <ion-button id="btn" color="light" ion-button (click) = "CadastrarGrupo(this)" fill="outline">Cadastrar Grupo</ion-button>
        
      </div>
    </div>
</ion-content>