ion-content {
    --background: #673BB7;
}
.container {
    position: absolute;
    left: 0;
    right: 0;
    width: 75%;
    margin: 0 auto;
    z-index: 2;

    &.top {
        top: 5%; left: 0; right: 0;
        margin: auto;
        text-align: center;
        width: 50%;
    }
    ion-segment-button{
        --indicator-color-checked: #673BB7;
    }
}
ion-slides{

    height: 100%;

    .slide-inner{
        width: 75%;
        color: #673BB7;
        border-radius: 10px;

        ion-item{
            --border-radius: 10px;
            border-bottom: 1px solid #673BB7;

        }
    }
}
span{
    color: white;
    font-size: 22px;
}