<ion-menu contentId="content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div  *ngFor="let pages of navigate">

        <ion-menu-toggle>
          <ion-item [routerLink]="pages.url" routerDirection="root">
            <ion-icon [name]="pages.icon" slot="start"></ion-icon>
            <ion-label>{{pages.title}} </ion-label>
          </ion-item>
        </ion-menu-toggle>

      </div>
    </ion-content>

</ion-menu>
<ion-router-outlet id="content"></ion-router-outlet>