
<div >
  <ion-label>{{pergunta}}</ion-label>
</div>

<ion-list>
  <ion-radio-group  [(ngModel)]="nota" (ngModelChange)="algoMudou()">
   
    <ion-grid>
      <ion-row >
         <ion-col>
            <div>
              <ion-radio name="elem1" value="1"></ion-radio>
            </div>
          </ion-col>

          <ion-col>
            <div>
              <ion-radio name="elem1" value="2"></ion-radio>
            </div>
          </ion-col>

          <ion-col>
            <div>
              <ion-radio name="elem1" value="3"></ion-radio>
            </div>
          </ion-col>  

          <ion-col>
            <div>
              <ion-radio name="elem1" value="4"></ion-radio>
            </div>
          </ion-col>

          <ion-col>
            <div>
              <ion-radio name="elem1" value="5"></ion-radio>
            </div>
          </ion-col>

          <ion-col>
            <div>
              <ion-radio name="elem1" value="6"></ion-radio>
            </div>
          </ion-col>

          <ion-col>
              <div>
            <ion-radio name="elem1" value="7"></ion-radio>
          </div>
          </ion-col>

          <ion-col>
            <div>
              <ion-radio name="elem1" value="8"></ion-radio>
            </div>
          </ion-col>

          <ion-col>
              <div>
                <ion-radio name="elem1" value="9"></ion-radio>
              </div>
          </ion-col>

          <ion-col>
            <div>
              <ion-radio name="elem1" value="10"></ion-radio>
            </div>
          </ion-col>

        </ion-row>

        <ion-row>
          <ion-col>
            <div>
              <ion-label>1</ion-label>
            </div>
          </ion-col>

          <ion-col>
            <div>
                <ion-label>2</ion-label>
            </div>
          </ion-col>

          <ion-col>
            <div>
              <ion-label>3</ion-label>
            </div>
          </ion-col>

          <ion-col>
            <div>
              <ion-label>4</ion-label>
            </div>
          </ion-col>

          <ion-col>
            <div>
              <ion-label>5</ion-label>
            </div>
          </ion-col>

          <ion-col>
            <div>
              <ion-label>6</ion-label>
            </div>
          </ion-col>

          <ion-col>
            <div>
              <ion-label>7</ion-label>
            </div>
          </ion-col>

          <ion-col>
            <div>
              <ion-label>8</ion-label>
            </div>
          </ion-col>

          <ion-col>
            <div>
              <ion-label>9</ion-label>
            </div>
          </ion-col>

        <ion-col>
            <div>
              <ion-label>10</ion-label>
            </div>
          </ion-col>

        </ion-row>
    </ion-grid>
  </ion-radio-group>
</ion-list>