h1{
    text-align: center;
    color: white;
    top: -5%;
}
#botao{
    font-size: 15px;
}
ion-slides{

    height: 100%;

}
.perguntas{
    font-size: 15px;
    color: white;

}
ion-content {
    --background: #673BB7;
}