<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-title>
        Home
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

    <h1>Bem vindo ao sistema de avaliação interpares!</h1>

    <p>Este protótipo foi desenvolvido por academicos do 1 semestre
      do curso de analise e desenvolvimento
      de sistemas da faculdade Insted para o proj. Integrador
    </p>

  </ion-content>