<<<<<<< HEAD
ion-content {
    --background: #8B008B !important;
}
h1{
    text-align: center;
    color: white;
    font-size: 40px;
    border-bottom: 3px solid white;
}
#botao{
    font-size: 15px;
}
ion-slides{

    height: 100%;

}
app-notas{
    font-size: 12px;
}
div{
    background-color: #8B008B;
}
=======
.my-custom-menu {
    --width: 500px;
  }
>>>>>>> 266ade6f09d82c7b98280733975a9de279b6b34f
