.my-custom-menu {
    --width: 500px;
  }
ion-content {
    --background: #673BB7;
}
h1{
  color: white;
  text-align: center;
}
p{
  position:absolute;
  bottom:0;
  width:100%;
  color: white;
  text-align: center;
  font-size: 15px;
}