
<h1>Comprometimento</h1>
<ion-content>

    <ion-slides >
        <ion-slide type="any">
            <app-notas pergunta="Discutiu todos os objetivos propostos ?" (notaClicked)="aoSelecionarNota($event)"></app-notas>
            <app-notas pergunta="Participou ativamente dos encontros ?" (notaClicked)="aoSelecionarNota($event)"></app-notas>
            <app-notas pergunta="Facilitou o aprendizado dos colegas ?" (notaClicked)="aoSelecionarNota($event)"></app-notas>
            <app-notas pergunta="Realizou as atividades extra-sala ?" (notaClicked)="aoSelecionarNota($event)"></app-notas>
            <app-notas pergunta="Buscou aprender em outros momentos ou com outras fontes de informação?" (notaClicked)="aoSelecionarNota($event)"></app-notas>
        </ion-slide>

    <ion-slide>
        <h2>SLIDE 2</h2>
    </ion-slide>

    <ion-slide>
        <h2>SLIDE 3</h2>
    </ion-slide>

  </ion-slides>
  


    <button id="botao" >Enviar </button>
</ion-content>